<h1>medicine id {{product.productId}}</h1>
<p>following are the details</p>
<table class="table table-striped">
   <tbody>
    <tr>
        <th>ID</th>
        <td>{{product.productId}}</td>
    </tr>
    <tr>
        <th>medicineName</th>
        <td>{{product.medicineName}}</td>
    </tr>
    <tr>
        <th>medicineDetails</th>
        <td>{{product.medicineDetails}}</td>
    </tr>
    <tr>
        <th>uses</th>
        <td>{{product.uses}}</td>
    </tr>
    <tr>
        <th>safetyInformations</th>
        <td>{{product.safetyInformation}}</td>
    </tr>
   </tbody>
</table>